.App {
  text-align: center;
}

#teamsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flag{
  height: 30px;
  
}

body {
  background-color: #282c34;
  min-height: 100vh;
  color: rgb(160, 92, 92);
}